manifest {
    homePage = 'https://github.com/IARCbioinfo/FastQC-nf'
    description = 'Quality control of sequenced reads'
    mainScript = 'FastQC.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
}

process {
    container = 'iarcbioinfo/fastqc'
}

params.output_folder = "."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/FastQC_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/FastQC_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/FastQC_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/FastQC_dag.html"
}
