manifest {
    homePage = 'https://github.com/IARCbioinfo/FastQC-nf'
    description = 'Quality control of sequenced reads'
    mainScript = 'FastQC.nf'
}

process {
    container = 'iarcbioinfo/fastqc-nf'
    shell =  ['/bin/bash','-o','pipefail']
}

profiles {
  conda { 
	process.conda = "$baseDir/environment.yml"
	conda.createTimeout = "200 min"
	}
  docker {
    docker.enabled = true 
    process.container = 'iarcbioinfo/fastqc-nf:v1.1'
  }
  singularity {
    singularity.enabled = true 
    process.container = 'shub://IARCbioinfo/fastqc-nf:v1.1'
    pullTimeout = "200 min"
  }
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/FastQC_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/FastQC_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/FastQC_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/FastQC_dag.html"
}
